.container {
  max-width: 1400px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
}

.heading-xl {
  font-size: 60px;
  color: #000;
  font-weight: 900;
}
@media (max-width: 992px) {
  .heading-xl {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .heading-xl {
    font-size: 30px;
  }
}
.heading-lg {
  font-size: 48px;
  line-height: 48px;
  color: #000;
  font-weight: 900;
}
@media (max-width: 768px) {
  .heading-lg {
    font-size: 28px;
  }
}
.heading-md {
  font-size: 30px;
  color: #0a8aff;
  font-weight: 900;
}
@media (max-width: 768px) {
  .heading-md {
    font-size: 18px;
  }
}
.heading-sm {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.27;
  font-weight: 400;
  color: #ffffff;
}
@media (max-width: 768px) {
  .heading {
    font-size: 16px;
  }
}

.paragraph-md {
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 768px) {
  .paragraph-md {
    font-size: 14px;
  }
}
.paragraph-sm {
  font-size: 16px;
  line-height: 36px;
  font-weight: 400;
  color: #9CA3AF;
}
@media (max-width: 768px) {
  .paragraph-sm {
    font-size: 12px;
  }
}
.paragraph-lg {
  font-size: 18px;
  font-weight: 400;
  color: #9CA3AF;
}
@media (max-width: 768px) {
  .paragraph-lg {
    font-size: 12px;
  }
}

.header {
  padding: 10px 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
}
.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile__img {
  height: 40px;
  width: 40px;
  border-radius: 31px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
.profile__name {
  color: black;
  padding: 10px;
}

.nav {
  width: 400px;
  transition: all 1s ease-out;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s ease-out;
}
.nav__links {
  color: #000;
  padding: 10px;
  display: inline-block;
  transition: border 0.5s ease-in-out;
  border-bottom: 2px solid transparent;
  transition: all 1s ease-out;
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.ham-button {
  display: none;
  cursor: pointer;
}
.ham-button > .toggle1 {
  margin-bottom: 0;
  transform: rotate(45deg) translate(10px, 0px);
  background-color: #ff0000;
  transition: transform 400ms;
}
.ham-button > .toggle2 {
  margin-bottom: 0;
  background: transparent;
}
.ham-button > .toggle3 {
  margin-bottom: 0;
  transform: rotate(-45deg) translate(2px, 7px);
  background-color: #ff0000;
  transition: transform 400ms;
}
@media (max-width: 768px) {
  .ham-button {
    display: block;
  }
}

.line1,
.line2,
.line3 {
  margin-bottom: 5px;
  height: 2px;
  width: 30px;
  background-color: #000;
  transition: transform 400ms;
  display: block;
}

.mobile__nav {
  position: fixed;
  top: 70px;
  right: 10px;
  transform: translateX(200px);
  transition: transform 0.6s;
  transition-timing-function: cubic-bezier(0.28, 0.39, 0.05, 1.45);
  display: none;
}
@media (max-width: 768px) {
  .mobile__nav {
    display: block;
  }
}
.mobile__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 190px;
  background-color: #d0f6fe;
  border-radius: 10px;
  right: 10px;
  top: 73px;
  flex-direction: column;
}

.nav__items:hover > .nav__links {
  border-bottom: 2px solid #000;
}

.display {
  transform: translateX(0);
}

.txt-trsfrm {
  text-transform: uppercase;
}

.f-reset {
  font-size: 0;
}

.m-t {
  margin-top: 20px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  background: url("https://live.staticflickr.com/65535/52562145472_cf921f1118_k.jpg") no-repeat;
  height: 100vh;
}
.hero__main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 992px) {
  .hero__main {
    flex-direction: column;
    padding-top: 120px;
  }
}
@media (max-width: 768px) {
  .hero__main {
    height: 620px;
    padding: 0;
  }
}
.hero__profession {
  color: #0a8aff;
}
.hero__image {
  max-height: 500px;
}
@media (max-width: 768px) {
  .hero__image {
    max-height: 550px;
    max-width: 314px;
  }
}
.hero__socialplatforms {
  margin-top: 10px;
}
.hero__logo {
  height: 30px;
  margin-right: 10px;
  transition: transform 0.5s;
}
.hero__logo:hover {
  transform: scale(1.5);
}
.hero__resume {
  margin-top: 15px;
}
@media (max-width: 992px) {
  .hero__text {
    text-align: center;
    padding: 0 30px 0 30px;
  }
}
@media (max-width: 768px) {
  .hero__text {
    padding: 0;
  }
}

.hero__resume a {
  color: #ffffff;
}

.nav__bgclr {
  background-color: #78dbeb;
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  border-radius: 10px 0px;
  border: none;
  background-color: #0a8aff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px 25px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
@media (max-width: 768px) {
  .btn {
    padding: 2px 15px;
    font-size: 13px;
  }
}

.aboutme {
  padding: 40px 0 100px 0;
  transition: all 0.5s;
}
.aboutme__para {
  color: #9CA3AF;
  margin-top: 15px;
}
.aboutme__title {
  text-align: center;
}
.aboutme__content {
  margin-top: 30px;
}
.aboutme__logocnt {
  color: #000;
}
.aboutme__technologies {
  display: flex;
  gap: 10PX;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}
.aboutme__knowtechs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #81d7e5;
  height: 66px;
  border: 1px solid;
  flex: 0 0 20%;
}
@media (max-width: 992px) {
  .aboutme__knowtechs {
    flex: 0 0 49%;
  }
}
@media (max-width: 768px) {
  .aboutme__knowtechs {
    flex: 0 0 100%;
  }
}

.project {
  transition: all 0.5s;
}
.project__links {
  padding-bottom: 100px;
}
.project__heading {
  text-align: center;
}
.project__lists {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .project__lists {
    justify-content: center;
  }
}
.project__img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 1024px) {
  .project__img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  .project__img {
    width: 150px;
  }
}
.project__details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px;
}
.project__name {
  font-size: 26px;
  line-height: 0.88;
}
@media (max-width: 1024px) {
  .project__name {
    font-size: 20px;
  }
}
.project__description {
  font-size: 13px;
  color: #000;
  line-height: 1;
}
.project__topic {
  display: flex;
  height: 250px;
  background-color: #d0f6fe;
  border: 2px solid lightskyblue;
  border-radius: 10px;
  width: calc((100% - 20px) / 2);
  max-width: 500px;
  transition: transform 0.5s ease-out;
}
@media (max-width: 768px) {
  .project__topic {
    width: 100%;
    gap: 20px;
  }
}
.project__topic:hover {
  transform: scale(1.1);
}

.contact {
  transition: all 0.5s;
  padding: 40px 0 40px 0;
  background-color: #e8e6e6;
  text-align: center;
}
.contact__heading {
  color: #000;
}
.contact__row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 1024px) {
  .contact__row {
    flex-direction: column;
  }
}

.footer {
  padding: 40px 0;
  background-color: #0a8aff;
  border-radius: 5px;
}
.footer__content {
  color: #000;
}/*# sourceMappingURL=main.css.map */